.tabelaDeRobo {
  text-align: left;
  border-collapse: collapse;
  width: 50%;
}
.tabelaDeRobo td {
  border: 1px solid black;
  padding: 5px;
}
.tabelaDeRobo th {
  border: 1px solid black;
  font-size: 1.2em;
  padding: 5px;
}
.tabelaDeRobo caption {
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
}
